<div id="content" class="site-content">
    <div id="primary" class="content-area column full">
        <main id="main" class="site-main" role="main">
            <p class="woocommerce-result-count">
                Showing 1–8 of 12 results
            </p>
            <form class="woocommerce-ordering" method="get">
                <select name="orderby" class="orderby">
                <option value="menu_order" selected="selected">Default sorting</option>
                <option value="popularity">Sort by popularity</option>
                <option value="rating">Sort by average rating</option>
                <option value="date">Sort by newness</option>
                <option value="price">Sort by price: low to high</option>
                <option value="price-desc">Sort by price: high to low</option>
            </select>
            </form>
            <ul class="products">
                {if isset($data.db_data)} {foreach from=$data.db_data item=title name=list}
                <li class="{user_first_last_item_in_row iteration=$smarty.foreach.list.iteration}product">
                    <a href="{$title.global_type}/{$title.slug}">
                            {if $title.new}
                                <span class="onsale">New!</span>
                            {/if}
                            <img src="{$title.img}">
                            <h3>{(empty($title.name_alt)) ? $title.name : $title.name_alt} </h3>
                            <span style="font-size: 8; color: grey;">{$title.type} / 
                                {if $title.global_type == 'anime'}
                                    {$title.episodes} epis. ~ {$title.duration} min.
                                {else}
                                    {$title.chapters} chap.
                                {/if}
                            </span>
                            <span class="price"><span class="amount">{$title.genre} </span></span>
                        </a>
                        {if isset($smarty.session.user)}
                            <a class="button">Add to My WishList / {$title.user_wishlist}</a>
                        {/if}
                </li>
                {/foreach} {else} No items!!! {/if}
            </ul>
            <nav class="woocommerce-pagination">
                <ul class="page-numbers">
                    <li><span class="page-numbers current">1</span></li>
                    <li><a class="page-numbers" href="#">2</a></li>
                    <li><a class="next page-numbers" href="#">→</a></li>
                </ul>
            </nav>
        </main>
        <!-- #main -->
    </div>
    <!-- #primary -->
</div>
<!-- #content -->
</div>
<!-- .container -->