<div id="content" class="site-content">
    <div id="primary" class="content-area column full">
        <main id="main" class="site-main" role="main">
            <div id="container">
                <div id="content" role="main">
                    <nav class="woocommerce-breadcrumb" itemprop="breadcrumb"><a href="#">Home</a> / <a href="#">Clothing</a> / Beige Jacket</nav>
                    <div itemscope itemtype="http://schema.org/Product" class="product">
                        <div class="images">
                            <a href="" itemprop="image" class="woocommerce-main-image zoom" title="" data-rel="prettyPhoto">
                                <img src="{$data.title.img}"></img>
                            </a>
                        </div>
                        <div class="summary entry-summary">
                            <h1 itemprop="name" class="product_title entry-title">{$data.title.name}</h1>
                            <h4 itemprop="name" class="product_title title ">{$data.title.name_alt}</h4>
                            <div id="score-div" class="woocommerce-product-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                            {if empty($data.title.score)}
                                {for $i=1 to 10}
                                    <i class="fa fa-star-o" data-value="{$i}" data-tid="{$data.title.id}"></i>
                                {/for}
                                (No score)
                            {else}
                                {for $i=1 to 10}
                                    {if $i <= $data.title.score}
                                        <i class="fa fa-star" data-value="{$i}" data-tid="{$data.title.id}"></i>
                                    {elseif $i == ceil($data.title.score) && fmod($data.title.score, 1)}
                                        <i class="fa fa-star-half-o" data-value="{$i}" data-tid="{$data.title.id}"></i>
                                    {else}
                                        <i class="fa fa-star-o" data-value="{$i}" data-tid="{$data.title.id}"></i>
                                    {/if}
                                {/for}
                                ({$data.title.score}
                                {if !empty($data.title.user_score)}
                                    / <span style="color: green">My score: {$data.title.user_score}</span> 
                                    <span class="delete-score" data-tid="{$data.title.id}">delete</span>
                                {/if})
                            {/if}
                            {if isset($smarty.session.user)}
                                {if empty($data.title.user_wishlist)}
                                    <a class="button buttom-wishlist" data-action="add" data-tid="{$data.title.id}">Add to My WishList!</a>
                                {elseif $data.title.user_wishlist == 'wish' && $data.title.global_type == 'anime'}
                                    <a class="button buttom-wishlist" style="color: green" data-action="mark-as-done" data-tid="{$data.title.id}">In My WishList. Mark as viewed</a>
                                {elseif $data.title.user_wishlist == 'wish' && $data.title.global_type == 'manga'}
                                    <a class="button buttom-wishlist" style="color: green" data-action="mark-as-done" data-tid="{$data.title.id}">In My WishList. Mark as read</a>
                                {else}
                                    <a class="button buttom-wishlist" style="color: red" data-action="delete" data-tid="{$data.title.id}">Delete from my list</a>
                                {/if}
                            {/if}
                            </div> 
                            <div itemprop="description">
                                <blockquote>
                                    {if $data.title.global_type == 'anime'}
                                        <p>Type: {$data.title.type}</p>
                                        <p>Episodes: {$data.title.episodes}</p>
                                        <p>Rating: {$data.title.rating}</p>
                                        <p>Aired: {$data.title.date_start} to {$data.title.date_end}</p>
                                        <p>Studios: {$data.title.studios}</p>
                                        <p>Duration: {$data.title.duration} min</p>
                                        <p>Genges: 
                                            {foreach from=$data.title.genre item=genre name=list} 
                                                {if $smarty.foreach.list.last}
                                                    <a href="#" rel="tag">#{$genre}</a> 
                                                {else}
                                                    <a href="#" rel="tag">#{$genre}</a>, 
                                                {/if} 
                                            {/foreach}
                                        </p>
                                    {else}
                                        <p>Type: {$data.title.type}</p>
                                        <p>Volumes: {$data.title.volumes}</p>
                                        <p>Chapters: {$data.title.chapters}</p>
                                        <p>Status: {$data.title.status}</p>
                                        <p>Aired: {$data.title.date_start} to {$data.title.date_end}</p>
                                        <p>Author (story): {$data.title.author_story}</p>
                                        <p>Author (art): {$data.title.author_art}</p>
                                        <p>Genges: 
                                            {foreach from=$data.title.genre item=genre name=list} 
                                                {if $smarty.foreach.list.last}
                                                    <a href="#" rel="tag">#{$genre}</a> 
                                                {else}
                                                    <a href="#" rel="tag">#{$genre}</a>, 
                                                {/if} 
                                            {/foreach}
                                    {/if}
                                    
                                </blockquote>
                                <h4>Description</h4>
                                <p>
                                    {$data.title.synopsis}
                                </p>


                            </div>
                        </div>
                        <!-- .summary -->
                        <div class="woocommerce-tabs wc-tabs-wrapper">
                            <div class="panel entry-content wc-tab" id="tab-reviews">
                                <div id="reviews">
                                    {if !empty($data.title.comments)}
                                    <div id="comments">
                                        <h2>{count($data.title.comments)} Reviews for {$data.title.name}</h2>
                                        <ol class="commentlist">
                                        {foreach from=$data.title.comments item=comment}
                                            <li itemprop="review" itemscope="" itemtype="http://schema.org/Review" class="comment">
                                            <div id="comment-3" class="comment_container">
                                                <img alt="" src="" class="avatar avatar-60 photo" width="60" height="60">
                                                <div class="comment-text">	
                                                    <p class="meta">
                                                    {if !empty($comment.rate)}
                                                    <strong itemprop="author">Rate: {$comment.rate}</strong><br>
                                                    {/if}
                                                        <strong itemprop="author">Author: {$comment.nickname}</strong> – <time itemprop="datePublished">{$comment.date}</time>:
                                                    </p>
                                                    <div itemprop="description" class="description">
                                                        <p>
                                                            {$comment.comment}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            </li>
                                            <!-- #comment-## -->
                                            {/foreach}
                                        </ol>
                                    </div>
                                    {/if}
                                    {if isset($smarty.session.user)}
                                    <div id="review_form_wrapper">
                                        <div id="review_form">
                                            <div id="respond" class="comment-respond">
                                                <h3 style="margin-bottom:10px;" id="reply-title" class="comment-reply-title">Add a review 
                                                <small><a rel="nofollow" id="cancel-comment-reply-link" href="/demo-moschino/product/woo-logo-2/#respond" style="display:none;">Cancel reply</a></small></h3>
                                                <form action="review/add" method="post" id="commentform1" class="comment-form" novalidate="">
                                                    <p class="comment-form-rating">
                                                        <label for="rating">Your Rating</label>
                                                        <select name="rate" id="rating">
                                                            <option value="0">Rate…</option>
                                                            <option value="5">Perfect</option>
                                                            <option value="4">Good</option>
                                                            <option value="3">Average</option>
                                                            <option value="2">Not that bad</option>
                                                            <option value="1">Very Poor</option>
                                                        </select>
                                                    </p>
                                                    <p class="comment-form-comment">
                                                        <label for="comment">Your Review</label>
                                                        <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true">{user_get_field_value key=comment}</textarea>
                                                    </p>
                                                    <p class="form-submit">
                                                        <input type="submit" class="submit" value="Submit">
                                                        <input type="hidden" name="id_titles" value="{$data.title.id}" id="comment_post_ID">															
                                                    </p>
                                                </form>
                                            </div>
                                            <!-- #respond -->
                                        </div>
                                    </div>
                                    {/if}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- #main -->
    </div>
    <!-- #primary -->
</div>
<!-- #content -->
</div>
{user_delete_form_data}