<div id="content" class="site-content">
    <div id="primary" class="content-area column full">
        <main id="main" class="site-main">
            <!-- .entry-header -->
            <div class="entry-content">
                <div class="wpcmsdev-columns">
                    <div class="column column-width-one-half">
                        <h2>This is cabinet of user: {$smarty.session.user.nickname}</h2>
                        <p>
                            <a class="wpcmsdev-button color-red" href="user/logout"><span>Log out</span></a>
                        </p>
                    </div>
                </div>
                <!-- .entry-content -->

        </main>
        <!-- #main -->
        </div>
        <!-- #primary -->
    </div>
    <!-- #content -->
</div>
{user_delete_form_data}